.container-fondoImg{
    background-image: url('../../archivos/fondoLogin.jpg');
    background-size: cover;
    background-position: top center ;
    height: 100vh;
}

.container-form{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}